{namespace Com.Softwire.Jira.Depindency.Templates}
/**
 * Renders a Hello message.
 * @param name the name of the user
 */
{template .helloWorld}
<div>Hello {$name}! I'm your depindency graph for today.</div>
{/template}