{namespace Com.Softwire.Jira.Example.Templates}
/**
 * Renders a Hello message.
 * @param name the name of the user
 * @param message a message to display
 */
{template .HelloMessage}
<div class="example-dashboard-item">
    <p>Hello {$name}! I'm your example dashboard item for today.<p>
    <p>Here's a message from the backend:</p>
    <p class="message">{$message}</p>
</div>
{/template}